html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: var(--color-background);
}

.theme-light {
    --primary: #0079FF;
    --secondary: #697C9A;
    --accent: #4B6A9B;
    --light-black: #2B3442;
    /* --font-color: #000000; */
    --btn-switch-color: #697C9A;
    --btn-switch-color-hover: #222731;
    --color-background: #F6F8FF;
    --color-background-card: #FEFEFE;
}

.theme-dark {
    --primary: #0079FF;
    --secondary: #FFFFFF;
    --accent: #FFFFFF;
    /* #F6F8FF nije dobra boja */
    --light-black: #FFFFFF;
    --color-background: #141D2F;
    --color-background-card: #1E2A47;
    --btn-switch-color-hover: #FFFFFF;
}

.btn-primary {
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    background: var(--primary);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(50px, 355px) minmax(430px, 1fr) minmax(50px, 355px);
    grid-template-rows: minmax(50px, 144px) 1fr minmax(50px, 145px);
    /* width: 100vw; */
    height: 100vh;
    grid-template-areas: ". . ."
        ". card ."
        ". . .";
}

.item-1 {
    justify-self: stretch;
    grid-area: card;
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* max-width: 700px; */
}

/* HEADER CLASSES */

.header {
    display: flex;
    justify-content: space-between;
}

.title-label {
    color: var(--btn-switch-color-hover);
    font-style: normal;
    font-size: 26px;
    line-height: 38.51px;
}

.switch-button-wrapper {
    cursor: pointer;
    align-self: center;
}


.switch {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 19.25px;
    letter-spacing: 2.5px;
    margin-top: 2px;
    color: var(--secondary);
}

.switch-button-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* SEARCH CLASSES */

.search {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--color-background-card);
}

.form-design {
    display: flex;
    justify-content: space-around;
}

.search-input {
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    align-self: center;
    gap: 15px;
    flex: 0 0 65%;
}

.search-img {
    align-self: center;
}

.search-button {
    margin-top: 22px;
    margin-bottom: 22px;
    align-self: flex-end;
    display: flex;
    gap: 15px;
}

.hidden-error {
    font-family: 'Space Mono', monospace;
    color: red;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}

.input-username-class {
    cursor: pointer;
    flex-basis: 550px;
    font-family: 'Space Mono', monospace;
    border: none;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--color-background-card);
    color: var(--btn-switch-color-hover);
}

::-webkit-input-placeholder {
    color: var(--accent);
}

input:focus {
    outline: none;
}

.hidden-error {
    align-self: center;
}

/* CARD BODY  */

.card-body {
    border-radius: 15px;
    background-color: var(--color-background-card);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 25% 75%;
    grid-template-areas:
        "img title"
        ". info"
    ;
}

.card-header {}

.card-image {
    grid-area: img;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}

.avatar {
    max-width: 117px;
    max-height: 117px;
    border-radius: 50%;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: title;
    margin-right: 10px;
}

.username {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.title-left {
    display: flex;
    flex-direction: column;
}

.bio {
    color: var(--accent);
}

.name {
    color: var(--light-black);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}

.login {
    color: var(--primary);
}

.date-start {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: var(--secondary);
}


/* INFO CARD */
.card-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
}

.info-section {
    border-radius: 10px;
    background-color: var(--color-background);
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-labels {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: var(--accent);
}

.info-color {
    color: var(--light-black);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.first-row {
    display: grid;
    grid-template-columns: 63% 37%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "loc tw"
        "wb com";
    /* row-gap: 3px; */
    margin-top: 10px;
}

.location-class {
    grid-area: loc;
}

.location,
.twitter,
.website,
.company {
    font-size: 15px;
    color: var(--accent);
}

.twitter-class {
    grid-area: tw;
}

.website-class {
    grid-area: wb;
}

.company-class {
    grid-area: com;
}

@media only screen and (max-width: 1281px) {
    .card-body {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "img title"
            "info info"
        ;
    }

    .username {
        flex-direction: column;
        justify-content: space-between;
    }

    .card-image {
        align-self: center;
    }

    .avatar {
        max-width: 100px;
        max-height: 100px;
    }

    .input-username-class {
        font-size: 18px;
    }
}

@media only screen and (max-width: 437px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "card";
    }

    .input-username-class {
        font-size: 13px;
    }

    .name {
        font-size: 13px;
        line-height: 23.7px;
    }

    .date-start {
        font-size: 13px;
        line-height: 19.25px;
    }

    .info-labels {
        font-size: 11px;
        line-height: 16.29px;
    }

    .info-color {
        font-size: 16px;
        line-height: 23px;
    }

    .location,
    .twitter,
    .website,
    .company {
        font-size: 13px;
    }

    .card-image {
        margin-top: 6px;
        align-self: start;
    }

    .card-info {
        justify-content: start;
    }

    .title {
        align-self: start;
        justify-self: center;
        margin-top: 6px;
    }

    .card-body {
        grid-template-rows: minmax(150px, 200px) minmax(340px, 450px);
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "img title"
            "info info"
        ;
    }

    .first-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35px 35px 35px 35px;
        grid-template-areas:
            "loc"
            "wb"
            "tw"
            "com";
    }
}